flows(1).json
[{"id":"c0ccae38.7ef328","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c7072aaa.eb907","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6c7d29ef.2897f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a092163b.24648","type":"ui_group","z":"","name":"Default","tab":"6c7d29ef.2897f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3acbaf71.57868","type":"inject","z":"c0ccae38.7ef328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":80,"wires":[["9f96b763.5f34f"]]},{"id":"9439dcac.c78b28","type":"ui_form","z":"c0ccae38.7ef328","name":"","label":"","group":"a092163b.24648","order":0,"width":0,"height":0,"options":[{"label":"Date/Time","value":"DT","type":"text","required":true,"rows":null},{"label":"Theoretical Power Curve(kWH)","value":"TP","type":"number","required":true,"rows":null},{"label":"Wind Speed(m/s)","value":"WS","type":"number","required":true,"rows":null},{"label":"Wind Direction","value":"WD","type":"number","required":true,"rows":null}],"formValue":{"DT":"","TP":"","WS":"","WD":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":160,"wires":[["9f96b763.5f34f"]]},{"id":"9f96b763.5f34f","type":"function","z":"c0ccae38.7ef328","name":"","func":"global.set(\"DT\",msg.payload.DT)\nglobal.set(\"WS\",msg.payload.WS)\nglobal.set(\"TP\",msg.payload.TP)\nglobal.set(\"WD\",msg.payload.WD)\nvar apikey = \"Oy5w6RsTwS8XJGNaraOkeeNRhEQUsqKb1wgr6pvVc9ZM\";\nmsg.headers =  {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\" : \"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":120,"wires":[["ddf83f2c.d387"]]},{"id":"ddf83f2c.d387","type":"http request","z":"c0ccae38.7ef328","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":120,"wires":[["99350400.4f05b"]]},{"id":"99350400.4f05b","type":"function","z":"c0ccae38.7ef328","name":"","func":"var DT = global.get(\"DT\")\nvar WS = global.get(\"WS\")\nvar WD = global.get(\"WD\")\nvar TP = global.get(\"TP\")\nvar token = msg.payload.access_token;\nvar instance_id = \"982dad50-c496-4135-bb7d-0cd2474a4282\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload = {\"input_data\": [{\"fields\": [\"Date/Time\", \"Wind Speed (m/s)\", \"Theoretical_Power_Curve (KWh)\", \"Wind Direction (°)\"], \"values\": [[DT,WS,TP,WD]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":180,"wires":[["3d79447c.a9f054"]]},{"id":"3d79447c.a9f054","type":"http request","z":"c0ccae38.7ef328","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/0fe6cc1e-48b4-4344-876f-d2ea6498d55a/predictions","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":120,"wires":[["c55f510b.d1be18","1644afae.0e8818"]]},{"id":"1644afae.0e8818","type":"debug","z":"c0ccae38.7ef328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":120,"wires":[]},{"id":"c55f510b.d1be18","type":"function","z":"c0ccae38.7ef328","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":20,"wires":[["1644afae.0e8818","d67338b7.d493b"]]},{"id":"d67338b7.d493b","type":"ui_text","z":"c0ccae38.7ef328","group":"a092163b.24648","order":1,"width":0,"height":0,"name":"","label":"Energy(kW)","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":260,"wires":[]}]